* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/*MENU*/

.menu {
  height: 80px;
  width: 100%;
  background: #151719;
}

label.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

.menu nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
  position: relative;
  top: -72px;
  left: 650px;
}

nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
  text-decoration: none;
}

a.active,
a:hover {
  border: 1px solid rgb(240, 114, 135);
  transition: 0.5s;
}

.user-welcome {
  width: 100%;
  text-align: center;
}

/*-------------------------------------------------------------------------------------------*/
/*SLIDER*/

ul,
ol {
  list-style: none;
}

.show-slide {
  width: 100%;
  position: relative;
}

.slider li {
  overflow: hidden;
}

.slider li,
ul {
  width: 100%;
}

.slider li img {
  width: 100%;
  z-index: 4;
}

.slider .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  padding: 15px 50px;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: left;
  flex-direction: column;
}

.boton1 {
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 180px;
  background: #fff;
  color: #151719;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 20px;
}

.slider .caption h1 {
  font-size: 50px;
}

.slider .caption p {
  margin-top: 10px;
  font-size: 20px;
}

.pagination {
  position: absolute;
  top: 103%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination li {
  font-size: 20px;
  margin: 2px 5px;
  color: #151719;
  cursor: pointer;
}

.left,
.right {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 35px;
  z-index: 2;
  cursor: pointer;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

/*-------------------------------------------------------------------------------------------*/
/*FOOTER*/

footer {
  width: 100%;
  background: #151719;
  color: white;
  border-top: 10px solid rgb(240, 114, 135);
}

.container-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.col1 {
  max-width: 400px;
}

.col1 h1 {
  font-size: 25px;
}

.col1 p {
  font-size: 15px;
  color: #c7c7c7;
  margin-top: 20px;
}

.col2 {
  max-width: 400px;
}

.col2 h1 {
  font-size: 25px;
}

.col2 .netrow {
  margin-top: 20px;
  display: flex;
}

.netrow img {
  width: 35px;
  height: 35px;
}

.netrow label {
  margin-top: 10px;
  margin-left: 15px;
  color: #c7c7c7;
}

.col3 {
  max-width: 400px;
}

.col3 h1 {
  font-size: 25px;
}

.rowinfo {
  margin-top: 20px;
  display: flex;
}

.rowinfo img {
  width: 35px;
  height: 35px;
}

.rowinfo label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 150px;
}

.container-footer {
  width: 100%;
  background: #101010;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #c7c7c7;
}

.copyright a {
  color: rgb(240, 114, 135);
  text-decoration: none;
  font-weight: bold;
}

.moreinfo a {
  text-decoration: none;
  color: rgb(240, 114, 135);
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }

  .col1 {
    max-width: 100%;
  }

  .col2,
  .col3 {
    margin-top: 40px;
  }
}
