* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
  }
  
  #sidebar.active {
    left: 0px;
  }
  
  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    text-align: left;
    text-decoration: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    
   
  }

#sidebar ul li a {
    color: rgba(230, 230, 230, .9);
    text-decoration: none;
    position: relative;
    left: 10px;
    
   
  }


  
  .logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 220px;
    top: 0px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
  }


#sidebar ul {


list-style: none;


}


#sidebar ul li:hover {


/* background: black; */
color:rgb(240, 114, 135);

}

#sidebar ul li a:hover {


  /* background: black; */
  color: rgb(240, 114, 135);
  
  }



#sidebar .desplegar-cat {

  
  position: absolute;
  right: 20px;

}


#sidebar ul li ul {

display: none;



}



#sidebar ul li ul li{


  background: #151719;
  padding: 10px;
  

}

#sidebar ul li ul li a{


  color: aliceblue;
  text-decoration: none;

}

#sidebar ul #activado{

background:black;
color: white;


}



@media screen and (max-width: 450px) {

  body{


  padding-top: 80px;

  }

  #sidebar {


  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  
  }

  #sidebar .toggle-btn{

  display: block;


  }


  #sidebar {
    display: none;
    

  }
}


.slideshow ul ol{

list-style: none;

}



body{


font-family: Open sans;

}


.slideshow img{

max-width: 100%;


}


.slideshow{

width: 100%;
position: relative;

}

.slider li ul{


width: 100%;

}

.slider li img{

width: 100%;

}


/* .slider li img{

animation: cambio 20s infinite;}

@keyframes cambio{

  0% { margin-left: 0;}
  
  20% { margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% { margin-left: -100%;}
  50% { margin-left: -200%;}
  70% { margin-left: -500px;}
  75% { margin-left: -900px;}
  100% { margin-left: -1000px;}
}   */



.slider .caption {

position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
z-index: 1;
flex-direction: column;
padding:15px 50px ;
}

.pagination{

  position: absolute;
  top: 460px;
  width:100%;
  display: flex;
  justify-content: center;
}

.pagination li{

font-size: 20px;
margin: 2px 5px;
color: #151719;
cursor: pointer;

}


.flechas{
position: absolute;
top: 0;
height: 100%;
display: flex;
align-items: center;
color: #fff;
font-size: 35px;

} 


 .flechas .left{
position: absolute;
left: 30px;
}
.flechas .right{

position: absolute;
right: -1290px;

}


@media screen and (max-width: 600px) {
  
.slider .caption p{

  display: none;
}

.slider .caption h1{

font-size: 35px;

}

.flechas{

  font-size:30px;

}

.slider li img{

  width: 600px;
}

.pagination{

  display: none;
}

}

/*FOOTER*/

footer {
  width: 100%;
  background: #151719;
  color: white;
  border-top: 10px solid rgb(240, 114, 135);;
}

.container-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.col1 {
  max-width: 400px;
}

.col1 h1 {
  font-size: 25px;
}

.col1 p {
  font-size: 15px;
  color: #C7C7C7;
  margin-top: 20px;
}

.col2 {
  max-width: 400px;
}


.col2 h1 {
  font-size: 25px;
}

.col2 .netrow {
  margin-top: 20px;
  display: flex;
}

.netrow img {
  width: 35px;
  height: 35px;
}

.netrow label {
  margin-top: 10px;
  margin-left: 15px;
  color: #C7C7C7; 
}

.col3 {
  max-width: 400px;
}

.col3 h1 {
  font-size: 25px;
}

.rowinfo {
  margin-top: 20px;
  display: flex;
}

.rowinfo img {
  width: 35px;
  height: 35px;
}

.rowinfo label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 150px;
}

.container-footer {
  width: 100%;
  background: #101010;  
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #C7C7C7;
}

.copyright a{
  color: rgb(240, 114, 135);
  text-decoration: none;
  font-weight: bold;
}

.moreinfo a {
  text-decoration: none;
  color: rgb(240, 114, 135);
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .container-body{
    flex-wrap: wrap;
  }

  .col1{
    max-width: 100%;
  }

  .col2,
  .col3 {
    margin-top: 40px;
  }

}